@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    background: url(/assets/images/backgroundgeneral.webp) no-repeat center / cover;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.container {
    max-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
/*1st style - page loaded*/
.front-img {
    height: 100vh;
    grid-column: 1;
    grid-row: 1 / span 2;

}
.front-img img{
    width: 100%;
    height: 90%;
}
.text-front {
    align-self: center;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-right: 20px;
    grid-column: 2;
    grid-row: 1;
}
.text-front h2 {
    font-size: 2.5rem;
}
.front-btn {
    text-align: center;
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 100px;
}
.front-btn button{
    margin: 0.5rem;
    height: 3rem;
    width: 16rem;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}
.front-btn button:hover {
    background-color: orange;
    box-shadow: 0 10px 20px;
    transform: translateY(-5px);
    transition: all .3s;
    cursor: pointer;
}
/*Instruction page*/
.readyone{
    grid-column: 1 / span 2;
    grid-row: 1;
    align-self: center;
    transform: translateY(-0.5%);
    box-shadow: 0 10px 20px;
    color: #fff;
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.3;
    display: none;
}
.readyone h2 {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    color: gold;
}

.play-btn{
    display: none;
    grid-column: 1 / span 2;
    grid-row: 2;
    align-self: center;
    text-align: center;
    margin-bottom: 4rem;
}
.play-btn button{
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.play-btn button:hover{
    background-color: orange;
    box-shadow: 0 10px 20px;
    transform: translateY(-5px);
    transition: all .3s;
    cursor: pointer;
}
/*Game area*/
.game-area {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-self: center;
    text-align: center;
    display: none;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}
.score {
    color: gold;
    text-shadow: 2px 2px black;
    width: auto;
    font-size: 2.5rem;
}
.scored {
    animation: scored 1.5s linear;
}
@keyframes scored {
    50% {
        transform: scaleX(1.3) scaleY(1.3);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
 .question-area {
    color: #fff;
    width: auto;
 }
.question-area h2 {
    box-shadow: 0 10px 20px;
    font-size: 2rem;
}
.answers {
    display: grid;
    margin-top: 1rem;
    gap: 0.5rem;
    font-size: 1.8rem;
    color: #fff;
    justify-content: center;
}
.answers p {
    width: 20rem;
}
.answers p:hover {
    box-shadow: 0 10px 20px;
    color: black;
    background-color: orange;
    width: auto;
    cursor: pointer;
}
.extra-info {
    display: none;
}
.extra-info p{
    color: gold;
    width: auto; 
    margin: 0.5rem; 
    font-size: 1.5rem;
}
.next-question-btn{
    display: none;
    margin: 1rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.next-question-btn:hover{
    background-color: orange;
    box-shadow: 0 10px 20px;
    transform: translateY(-5px);
    transition: all .3s;
    cursor: pointer;
}
.correct {
    animation: correct 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes correct {
    0%,40%,80% {
      color: black;
      background: orange;
    }
    20%,60%,90%{
      color: white;
      background: darkred;
    }
    100% {
      color: white;
      background: green;
    }
}
.incorrect {
    animation: incorrect 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes incorrect {
    0%,40%,80% {
      color: black;
      background: orange;
    }
    20%,60%,90%{
      color: white;
      background: darkred;
    }
    100% {
      color: white;
      background: red;
    }
}
/*End Area*/
.end-area{
    display: none;
    margin: auto;
    padding: 1rem;
    color: #fff;
    box-shadow: 0 10px 20px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    text-align: center;
}
.final-score {
    display: none;
    color: gold;
    text-shadow: 2px 2px black;
    width: auto;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.form-name {
    margin: 0.5rem;
    height: 3rem;
    width: 10rem;
    border-radius: 20px;
    border: 0;
    font-size: 1.3rem;
    text-align: center;
}
.end-btn {
    margin: 0.5rem;
    height: 3rem;
    width: 10rem;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.end-btn:hover{
    background-color: orange;
    box-shadow: 0 10px 20px;
    transform: translateY(-5px);
    transition: all .3s;
    cursor: pointer;
}
/*High Scores*/
.high-scores-area{
    display: none;
    margin: auto;
    padding: 1rem;
    color: #fff;
    box-shadow: 0 10px 20px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    text-align: center;
}
.high-scores-area h1{
    color: gold;
    text-transform: uppercase;
}
.high-scores-area ul{
    font-size: 1.5rem;
}
/*Fixed footer*/
.social {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
    align-self: end;
    padding-bottom: 25px;
    color: #fff;
    font-size: 2rem;
}
.social a {
    color: inherit;
}
.social p {
    font-size: 1rem;
}
/*Media Query responsive*/
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){
    .container img {
        width: 90%;
    }
    .text-front {
        font-size: 2rem;
        margin-right: 25px;
    }
    .front-btn button{
        height: 2.5rem;
        width: 14rem;
        background-color: #fff;
        border: 0;
        border-radius: 20px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 425px){
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .front-img {
        height: 80%;
        grid-column: 1;
        grid-row: 1;
    }
    .text-front {
        font-size: 2rem;
        margin: auto;
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    .text-front h2 {
        font-size: 2rem;
    }
    .front-btn {
        grid-column: 1;
        grid-row: 2 / span 3;
    }
    .front-btn button{
        width: 12rem;
        font-size: 1.3rem;
    }
    /*ready page*/
    .readyone {
        grid-column: 1;
        grid-row: 1 / span 2;
        font-size: 1rem;
        margin: 1rem;
    }
    .play-btn {
        grid-column: 1;
        grid-row: 3;
        font-size: 2rem;
    }
    /*Game Area*/
    .game-area {
        grid-column: 1;
        grid-row: 1 / span 2;
        width: 90%;
        margin-top: 2rem;
    }
    .question-area h2 {
        font-size: 1.5rem;
    }
    .score {
        font-size: 2.5rem;
    }
    .answers {
        gap: 1rem;
        font-size: 1.5rem;
    }
    .answers p {
        width: auto;
    }   
    .extra-info p {
        font-size: 1.5rem;
    }
    .next-question-btn{
        width: 10rem;
        font-size: 1.50rem;
    }
    /*End Area*/
    .end-area{
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    /*High Score Area*/
    .high-scores-area {
        grid-column: 1;
        grid-row: 1 / span 2;
        margin: 2rem;
        padding: 2rem;
    }
    /*Fixed footer*/
    .social {
        grid-column: 1;
        grid-row: 3;
        font-size: 1.5rem;
    }
    .social p{
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 375px){
    .text-front {
        font-size: 1.5rem;
        margin: auto;
    }
}
@media screen and (max-width: 320px){
    .text-front {
        font-size: 1rem;
        margin: auto;
    }
    /*Game Area*/
    .game-area {
        margin-top: 1rem;
    }
    .question-area h2 {
        font-size: 1.3rem;
    }
    .score {
        font-size: 2rem;
    }
    .answers {
        gap: 0.5rem;
        font-size: 1.3rem;
    }
    .answers p {
        width: auto;
    }   
    .extra-info p {
        font-size: 1rem;
    }
    .next-question-btn{
        width: 8rem;
        font-size: 1.3rem;
    }
}